.nav-primary-header-container {
    display: flex;
    padding: 10px;
    padding-right: 0;
    margin-right: 0;
}

.main-nav__logo {
    display: flex;
    align-items: center;

}

.main-nav__logo__image {
    display: block;
    width: 3.75em;
    height: 1.75em;
    padding: 10px;
}
.no-margin-right{
    margin-right: -200px;
}

.links-ul-container {
    display: flex;
    /* width: 100%; */
    justify-items: center;
}

.links-list-container {
    display: flex;
    list-style-type: none;
    margin: 0px;
    width: 88vw;
    margin-left: -20px;
    justify-content: space-between;
}

.links-li {
    font-weight: 500;
    font-size: 13px;
    font-family: futura-pt, Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-right: 16px;
}

/* the one with the space: note that i should fix the space to be responsive! */
#link-margin {
    /* margin-left: 160px; */
}

.flex-start {
    display: flex;
    /* justify-content: flex-start; */
}

.flex-end {
    display: flex;
    /* justify-content: flex-end;
    padding: 0; */
    margin-right: -40px;
    font-size: 12px;
}

#more-button {
    border: none;
    background: none;
}