.nav {
        /* border: solid; */
        display: flex;
        align-items: center;
        height: 2em;
        padding: 10px;
}

.ul {
       /* border: solid; */
       display: flex;
       list-style: none;
       width: 185px;
       font-size: 12px;
       padding: 10px 10px;
       justify-content: space-between;
       font-weight: 500;
}

.li-item {
    font-family: futura-pt,Avenir,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}